<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags and Bootstrap CSS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Aprilion Printing" />
    <meta property="og:description" content="Aprilion Printing adalah percetakan berkualitas dengan harga terjangkau" />
    <meta property="og:image" content="{{url_for('static', filename='gambar/logo.png')}}" />
    <link rel="shortcut icon" href="../static/gambar/logo.png" type="image/x-icon" />
    <link rel="icon" href="../static/gambar/logo.png" type="image/x-icon" />
      
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="../static/script.js"></script>

    <style>
        .active-label {
            background-color: #ffd700 !important;
            color: #262626 !important;
            border-radius: 8px !important;
        }
        .active-page {
            background-color: #3761fa !important;
            color: white !important;
        }

        .btn-search{
            background-color:#262626 ;
            color: #e9e9e9;
            padding:0px 10px;
            border-radius: 5px;
            transition: transform 0.3s ease;
            border: none;
        }

        .btn-search:hover{
            transform: scale(1.1);
            background-color: #ffd700;
            color: #262626;
            border: none;
        }
        /* Custom Flash Messages Styling */
      .flash-messages-container {
        position: fixed;
        top: 20px;
        right: -400px;
        width: 350px;
        z-index: 1100;
        transition: right 0.5s ease-in-out;
      }

      .flash-messages-container.show {
        right: 20px;
      }

      .flash-alert {
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        opacity: 0;
        transform: translateX(50px);
        transition: all 0.5s ease-in-out;
      }

      .flash-alert.visible {
        opacity: 1;
        transform: translateX(0);
      }

      .flash-alert.alert-success {
        background-color: #d4edda;
        border-color: #c3e6cb;
        color: #155724;
      }

      .flash-alert.alert-danger {
        background-color: #f8d7da;
        border-color: #f5c6cb;
        color: #721c24;
      }

      .flash-alert.alert-warning {
        background-color: #fff3cd;
        border-color: #ffeeba;
        color: #856404;
      }
    </style>

    <title>Admin Produk | Aprilion Printing</title>
</head>
<body>
    <!-- Sidebar start -->
    {% include 'sidebar_admin.html' %}
    <!-- Sidebar end -->
    <!-- Flash Messages Container -->
    <div class="flash-messages-container">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div
          class="alert flash-alert alert-{{ category }} alert-dismissible fade"
          role="alert"
        >
          {% if category == 'success' %}
          <i class="bi bi-check-circle-fill me-2"></i>
          {% elif category == 'danger' %}
          <i class="bi bi-exclamation-triangle-fill me-2"></i>
          {% elif category == 'warning' %}
          <i class="bi bi-exclamation-circle-fill me-2"></i>
          {% endif %} {{ message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endfor %} {% endif %} {% endwith %}
      </div>

        <div class="container-fluid py-5" style="background-color: #FFFFFF; border-radius: 30px;">
            <div class="row align-items-center px-3">
                <div class="col-lg-7">
                    <h3 class="fw-bold">Daftar Produk</h3>
                </div>
                <div class="col-lg-2">
                    <!-- Button trigger modal -->
                    <button onclick="window.location.href='/tambahDataProduk'" type="button" class="py-2 px-3 btn" style="background-color: #00B087; color: white; border-radius: 8px;">
                        <i class="bi bi-plus-circle"></i> Tambah Produk
                    </button>
                </div>
                <div class="col-lg-3">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Cari" aria-label="Search">
                        <button class="btn-search" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                </div>
            </div>

            <div class="px-3">
                <div class="p-3 mt-4" style="background-color: #e9e9e9; border-radius: 12px;">
                    <div class="btn-group d-flex justify-content-between" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradioall" autocomplete="off" checked>
                        <label class="btn fs-5 active-label" for="btnradioall" data-filter="all">Semua</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn fs-5" for="btnradio1" data-filter="Print A3+">Print A3+</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn fs-5" for="btnradio2" data-filter="Promosi">Promosi</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                        <label class="btn fs-5" for="btnradio3" data-filter="Identitas">Identitas</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                        <label class="btn fs-5" for="btnradio4" data-filter="Acara">Acara</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                        <label class="btn fs-5" for="btnradio5" data-filter="Dekorasi">Dekorasi</label>
                    </div>
                </div>
            </div>

            <div class="px-3">
                <div class="p-3 mt-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Kategori</th>
                                <th scope="col">Nama Produk</th>
                                <th scope="col" style="width: 20rem;">Deskripsi</th>
                                <th scope="col">Ukuran</th>
                                <th scope="col">Harga/Pcs</th>
                                <th scope="col">Gambar</th>
                                <th scope="col">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in products %}
                                <tr data-jenis="{{ data.kategori }}">
                                    <td>{{ data.kategori }}</td>
                                    <td>{{ data.nama_produk }}</td>
                                    <td>{{ data.deskripsi}}</td>
                                    <td>
                                        {% for dus_harga in data.dus_harga %}
                                          <div>{{ dus_harga.ukuran }}</div>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for dus_harga in data.dus_harga %}
                                            <div>Rp. {{ dus_harga.hargaPcs }} </div>
                                        {% endfor %}
                                     </td>
                                    <td><img src="{{ url_for('static', filename='assets/imgProduk/' ~ data.photo) }}" alt="{{ data.kategori }}" width="100px" class="product-image" style="cursor: pointer;"></td>
                                    
                                    <td>
                                        <button onclick="window.location.href='/editDataProduk/{{ data._id }}';" class="btn btn-warning"><i class="bi bi-pencil-square"></i></button>
                                        <button onclick="window.location.href='/hapusDataProduk/{{ data._id }}';" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="d-flex justify-content-end">
                        <nav aria-label="Page navigation example">
                          <ul class="pagination">
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            <li class="page-item"><a class="page-link page-number" href="#" data-page="1">1</a></li>
                            <li class="page-item"><a class="page-link page-number" href="#" data-page="2">2</a></li>
                            <li class="page-item"><a class="page-link page-number" href="#" data-page="3">3</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                      
                </div>
            </div>
        </div>
    </div>
    <!-- Hero section end -->

    <!-- Modal untuk melihat gambar produk -->
    <div class="modal fade" id="productImageModal" tabindex="-1" aria-labelledby="productImageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img id="productImage" src="" alt="" style="max-width: 100%;">
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Untuk menampilkan gambar produk
            $('.product-image').on('click', function() {
                const modal = new bootstrap.Modal($('#productImageModal'), {
                    keyboard: false
                });
                const productImage = $('#productImage');
                productImage.attr('src', $(this).attr('src'));
                modal.show();
            });

            $('.btn-check').on('click', function() {
                const filter = $(this).next('label').data('filter').toLowerCase();
                filterRows(filter);
                $('.btn-check').removeClass('active-label'); // Menghapus kelas active-label dari semua tombol
                $(this).addClass('active-label'); // Menambahkan kelas active-label ke tombol yang aktif
            });

            $('.btn-check').on('click', function() {
                const filter = $(this).next('label').data('filter').toLowerCase();
                const rows = $('tbody tr');

                // Ubah label yang aktif
                $('.btn-group .btn').removeClass('active-label');
                $(this).next('label').addClass('active-label');

                // Filter baris berdasarkan jenis 
                rows.each(function() {
                    const jenis = $(this).data('jenis').toLowerCase();
                    if (filter === 'all' || jenis === filter) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
                showPage(1); // Reset to first page after filter
            });

            function filterRows(filter) {
                const rows = $('tbody tr');

                // Ubah label yang aktif
                $('.btn-group .btn').removeClass('active-label');
                $(this).next('label').addClass('active-label');

                // Filter baris
                rows.each(function() {
                    const jenis = $(this).data('jenis').toLowerCase();
                    if (filter === 'all' || jenis === filter) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
                showPage(1); // Reset to first page after filter
            };

            // Pagination setup
            const rowsPerPage = 4; // Number of rows per page (change this value as needed)
            const rows = $('tbody tr');
            let filteredRows = rows.toArray(); // Copy all rows initially
            let pageCount = Math.ceil(filteredRows.length / rowsPerPage); // Calculate initial page count
            const pagination = $('.pagination');

            // Generate pagination
            generatePagination();

            pagination.on('click', '.page-number', function(e) {
                e.preventDefault();
                const page = $(this).data('page');
                showPage(page);
            });

            pagination.on('click', '[aria-label="Previous"]', function(e) {
                e.preventDefault();
                const currentPage = parseInt($('.pagination .active-page').attr('data-page'));
                if (currentPage > 1) {
                    showPage(currentPage - 1);
                }
            });

            pagination.on('click', '[aria-label="Next"]', function(e) {
                e.preventDefault();
                const currentPage = parseInt($('.pagination .active-page').attr('data-page'));
                if (currentPage < pageCount) {
                    showPage(currentPage + 1);
                }
            });

            // Memfilter baris berdasarkan teks pencarian
            $('form').submit(function(e) {
                e.preventDefault();
                const searchText = $(this).find('input[type="search"]').val().toLowerCase();
                filterRowsBySearch(searchText);
            });

            showPage(1); // Display first page initially

            function showPage(page) {
                const startIndex = (page - 1) * rowsPerPage;
                const endIndex = startIndex + rowsPerPage;
                const rowsToShow = filteredRows.slice(startIndex, endIndex);
                rows.hide();
                $(rowsToShow).show();
                pagination.find('.page-number').removeClass('active-page');
                pagination.find(`[data-page=${page}]`).addClass('active-page');
            }

            function filterRows(filter) {
                filteredRows = rows.toArray().filter(row => {
                    const jenis = $(row).data('jenis').toLowerCase();
                    return filter === 'all' || jenis === filter;
                });
                pageCount = Math.ceil(filteredRows.length / rowsPerPage); // Recalculate page count
                generatePagination();
                showPage(1); // Reset to first page after filter
            }

            function filterRowsBySearch(searchText) {
                filteredRows = rows.toArray().filter(row => {
                    const jenis = $(row).data('jenis').toLowerCase();
                    const namaProduk = $(row).find('td:eq(1)').text().toLowerCase();
                    return jenis.includes(searchText) || namaProduk.includes(searchText);
                });
                pageCount = Math.ceil(filteredRows.length / rowsPerPage); // Recalculate page count
                generatePagination();
                showPage(1); // Reset to first page after filtering by search
            }

            function generatePagination() {
                pagination.empty();
                if (pageCount > 1) {
                    pagination.append(`<li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>`);
                    for (let i = 1; i <= pageCount; i++) {
                        pagination.append(`<li class="page-item"><a class="page-link page-number" href="#" data-page="${i}">${i}</a></li>`);
                    }
                    pagination.append(`<li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>`);
                }
            }
        });
      

    </script>
</body>
</html>
