<footer class="footer">
  <!-- Main content -->
  <section class="footer-content">
      <div class="footer-container">
          <!-- Latar Belakang Usaha -->
          <div class="footer-col">
            <h5>Alamat</h5>
            <div class="address">
                <i class="bi bi-geo-alt-fill"></i>
                <p>Desa Paloh Gadeng, Kecamatan Dewantara, Kabupaten Aceh Utara, Aceh</p>
            </div>
          </div>
        
          
          <!-- Kontak -->
          <div class="footer-col">
              <h5>Kontak Kami</h5>
              <a href="https://wa.me/+6283832041376">
                <div class="contact-item">
                  <i class="bi bi-whatsapp"></i>
                  <p>+6283832041376</p>
                </div>
              </a>
              <a href="https://instagram.com/aprilion.Printing" target="_blank">
                <div class="contact-item">
                  <i class="bi bi-instagram"></i>
                  <p>@aprilion.Printing</p>
                </div>
              </a>
              <a href="https://instagram.com/iChan.Design" target="_blank">
                <div class="contact-item">
                  <i class="bi bi-instagram"></i>
                  <p>@iChan.Design</p>
                </div>
              </a>
          </div>

          <!-- Metode Pembayaran -->
          <div class="footer-col">
            <h5>Metode Pembayaran</h5>
            <div class="payment-method">
                <img src="/static/gambar/dana.svg" style="width: 4rem;">
                <p>082278623976</p>
            </div>
            <div class="payment-method">
                <img src="/static/gambar/seabank-seeklogo.svg" style="width: 4rem;" alt="">
                <p>901686708150</p>
            </div>
        </div>
        
      </div>
  </section>

  <!-- Copyright -->
  <div class="footer-copyright">
      <p>&copy; 2024 Aprilion Printing All rights reserved. - Created by <a href="#" class="powered">Nvidia Group</a></p>
  </div>
</footer>       